<a href="https://colab.research.google.com/github/sohelkhan973/Stock_Prediction_News/blob/master/Stock_Prediction_News.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Stock Market Price Prediction with New Data Breif Overview:

The model created below is for prediction the stock prices of a Company. There are two datasets

1. Stock Prices Dataset for Dow Jones Inc

2. Top 25 headlines for everyday for the past 8 years

The notebook is briefly summarized as follows:

1. Data Preparation - Preparing data for evaluation.

2. Data Quality Checks - Performing basic checks on data for better understanding of data.

3. Feature inspection and filtering - Correlation and feature Mutual information plots against the target variable. Inspection of the Binary, categorical and other variables.

4. Feature importance ranking via learning models

5. Training - training data against multiple machine learning algorthms and fine tuning a couple of algorithms for accuracy

In [0]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text
import CountVectorizer
from sklearn.linear_model
import LogisticRegression

In [4]:
from google.colab import files
uploaded = files.upload()

Saving Combined_News_DJIA.csv to Combined_News_DJIA.csv
Saving DJIA_table.csv to DJIA_table.csv
Saving RedditNews.csv to RedditNews.csv

In [14]:
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import HTML

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
import io
df1 = pd.read_csv(io.BytesIO(uploaded['Combined_News_DJIA.csv']))
df2 = pd.read_csv(io.BytesIO(uploaded['DJIA_table.csv']))
df3 = pd.read_csv(io.BytesIO(uploaded['RedditNews.csv']))

In [46]:
df1.head(5)

         Date  ...                                              Top25
0  2008-08-08  ...           b"No Help for Mexico's Kidnapping Surge"
1  2008-08-11  ...  b"So this is what it's come to: trading sex fo...
2  2008-08-12  ...  b"BBC NEWS | Asia-Pacific | Extinction 'by man...
3  2008-08-13  ...  b'2006: Nobel laureate Aleksander Solzhenitsyn...
4  2008-08-14  ...  b'Philippines : Peace Advocate say Muslims nee...

[5 rows x 27 columns]

In [47]:
df2.head(5)

         Date          Open  ...     Volume     Adj Close
0  2016-07-01  17924.240234  ...   82160000  17949.369141
1  2016-06-30  17712.759766  ...  133030000  17929.990234
2  2016-06-29  17456.019531  ...  106380000  17694.679688
3  2016-06-28  17190.509766  ...  112190000  17409.720703
4  2016-06-27  17355.210938  ...  138740000  17140.240234

[5 rows x 7 columns]

In [48]:
df3.head(5)

         Date                                               News
0  2016-07-01  A 117-year-old woman in Mexico City finally re...
1  2016-07-01   IMF chief backs Athens as permanent Olympic host
2  2016-07-01  The president of France says if Brexit won, so...
3  2016-07-01  British Man Who Must Give Police 24 Hours' Not...
4  2016-07-01  100+ Nobel laureates urge Greenpeace to stop o...

In [49]:
combined = df1.copy()
combined.shape

(1989, 27)


Joining all headlines for each row together

In [0]:
combined['Combined'] = combined.iloc[:,2:27].apply(lambda row: ''.join(str(row.values)), axis=1)

In [51]:
combined.shape

(1989, 28)

In [53]:
combined['Combined'].iloc[:10]

0    ['b"Georgia \'downs two Russian warplanes\' as...
1    ["b'Why wont America and Nato help us? If they...
2    ["b'Remember that adorable 9-year-old who sang...
3    ["b' U.S. refuses Israel weapons to attack Ira...
4    ["b'All the experts admit that we should legal...
5    ['b"Mom of missing gay man: Too bad he\'s not ...
6    ["b'In an Afghan prison, the majority of femal...
7    ['b"Man arrested and locked up for five hours ...
8    ["b'Two elderly Chinese women have been senten...
9    ['b"British resident held in Guantanamo Bay wi...
Name: Combined, dtype: object

In [54]:
combined.dtypes

Date        object
Label        int64
Top1        object
Top2        object
Top3        object
Top4        object
Top5        object
Top6        object
Top7        object
Top8        object
Top9        object
Top10       object
Top11       object
Top12       object
Top13       object
Top14       object
Top15       object
Top16       object
Top17       object
Top18       object
Top19       object
Top20       object
Top21       object
Top22       object
Top23       object
Top24       object
Top25       object
Combined    object
dtype: object

In [55]:
type(combined)

pandas.core.frame.DataFrame